/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:ce0194007d8b3c639efec96f31e10530$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(flag&currency.png);}

.Abkhazia {width:168px; height:99px; background-position: -1313px -88px}
.Adygea {width:167px; height:99px; background-position: -1483px -103px}
.Afghanistan {width:145px; height:91px; background-position: -149px -2534px}
.Afghanistan_s_Afghani {width:90px; height:92px; background-position: -187px -3412px}
.African_Union {width:235px; height:157px; background-position: -240px -162px}
.Ajaria {width:167px; height:99px; background-position: -1823px -2px}
.Aland {width:165px; height:99px; background-position: -844px -928px}
.Albania {width:146px; height:92px; background-position: -1509px -1650px}
.Albania_s_lek {width:87px; height:94px; background-position: -840px -357px}
.Alderney {width:165px; height:99px; background-position: -1013px -891px}
.Algeria {width:144px; height:92px; background-position: -1332px -2390px}
.Algeria_s_Dinar {width:90px; height:91px; background-position: -1085px -3325px}
.Altai_Republic {width:168px; height:99px; background-position: -1484px -2px}
.American_Samoa {width:167px; height:99px; background-position: -1654px -2px}
.Andorra {width:145px; height:92px; background-position: -297px -2377px}
.Andorra_s_Euro {width:91px; height:92px; background-position: -470px -3184px}
.Angola {width:146px; height:93px; background-position: -151px -1600px}
.Angola_s_kwanza {width:89px; height:92px; background-position: -372px -3471px}
.Anguilla {width:165px; height:99px; background-position: -1195px -887px}
.Antarctica {width:166px; height:99px; background-position: -1097px -592px}
.Antigua_and_Barbuda {width:146px; height:91px; background-position: -446px -2080px}
.Antigua_and_Barbuda_s_Dollar {width:91px; height:93px; background-position: -861px -3040px}
.Argentina {width:146px; height:91px; background-position: -594px -2069px}
.Argentina_s_Peso {width:90px; height:92px; background-position: -280px -3393px}
.Armenia {width:145px; height:92px; background-position: -445px -2360px}
.Armenia_s_dram {width:91px; height:93px; background-position: -1008px -2970px}
.Aruba {width:146px; height:92px; background-position: -2px -1961px}
.Aruba_s_Guilder {width:91px; height:92px; background-position: -565px -3140px}
.Australia {width:146px; height:84px; background-position: -890px -2211px}
.Australia_s_Dollar {width:91px; height:92px; background-position: -660px -3139px}
.Austria {width:146px; height:91px; background-position: -742px -2061px}
.Austria_s_Euro {width:90px; height:92px; background-position: -374px -3377px}
.Azerbaijan {width:146px; height:92px; background-position: -150px -1883px}
.Azerbaijan_s_New_Manat {width:90px; height:92px; background-position: -468px -3370px}
.Bahamas {width:145px; height:93px; background-position: -298px -2282px}
.Bahamas_s_Dollar {width:90px; height:93px; background-position: -95px -3379px}
.Bahrain {width:146px; height:91px; background-position: -890px -2026px}
.Bahrain_s_Dinar_BHD {width:92px; height:92px; background-position: -1613px -2653px}
.Bangladensh {width:146px; height:89px; background-position: -1484px -2114px}
.Bangladensh_s_Taka {width:91px; height:91px; background-position: -753px -3229px}
.Barbados {width:144px; height:90px; background-position: -887px -2484px}
.Barbados_s_Dollar {width:91px; height:92px; background-position: -807px -3135px}
.Bashkortostan {width:167px; height:98px; background-position: -1099px -294px}
.Belarus {width:167px; height:92px; background-position: -1606px -501px}
.Belarus_s_Ruble {width:89px; height:92px; background-position: -466px -3464px}
.Belgium {width:145px; height:91px; background-position: -296px -2471px}
.Belgium_s_Euro {width:92px; height:91px; background-position: -1210px -2857px}
.Belize {width:146px; height:92px; background-position: -298px -1818px}
.Belize_s_Dollar {width:90px; height:92px; background-position: -562px -3326px}
.Benin {width:145px; height:91px; background-position: -444px -2454px}
.Benin_s_Franc {width:91px; height:90px; background-position: -281px -3301px}
.Bermuda {width:147px; height:92px; background-position: -1139px -1276px}
.Bermuda_s_Dollar {width:91px; height:92px; background-position: -954px -3065px}
.Bhutan {width:146px; height:91px; background-position: -1039px -2023px}
.Bhutan_s_ngultrum {width:91px; height:92px; background-position: -1101px -3045px}
.Bikini_Atoll {width:168px; height:98px; background-position: -1131px -94px}
.Bolivia {width:145px; height:92px; background-position: -593px -2349px}
.Bolivia_s_Boliviano {width:91px; height:92px; background-position: -1249px -3044px}
.Bosnia_and_Herzegovina {width:146px; height:92px; background-position: -446px -1800px}
.Bosnia_and_Herzegovina_Federation {width:167px; height:98px; background-position: -1269px -289px}
.Bosnia_and_Herzegovina_s_Marka {width:91px; height:93px; background-position: -1156px -2950px}
.Botswana {width:146px; height:92px; background-position: -595px -1789px}
.Botswana_s_Pula {width:91px; height:93px; background-position: -1304px -2949px}
.Brazil {width:146px; height:91px; background-position: -1188px -1949px}
.Brazil_s_Real {width:88px; height:92px; background-position: -840px -263px}
.British_Antarctic_Territory {width:165px; height:98px; background-position: -338px -966px}
.British_Indian_Ocean_Territory {width:167px; height:98px; background-position: -1470px -204px}
.Brittany {width:168px; height:97px; background-position: -930px -134px}
.Brunei {width:146px; height:92px; background-position: -744px -1781px}
.Brunei_s_Darussalam_Dollar {width:90px; height:92px; background-position: -656px -3325px}
.Bulgaria {width:147px; height:91px; background-position: -300px -1442px}
.Bulgaria_s_lev {width:90px; height:89px; background-position: -654px -3419px}
.Burkina {width:148px; height:91px; background-position: -2px -1307px}
.Burkina_s_Franc {width:94px; height:94px; background-position: -1828px -995px}
.Burma {width:147px; height:93px; background-position: -990px -1185px}
.Burma_s_Kyat {width:92px; height:92px; background-position: -1896px -2563px}
.Burundi {width:147px; height:91px; background-position: -450px -1424px}
.Burundi_s_Franc {width:92px; height:92px; background-position: -1802px -2563px}
.Buryatia {width:166px; height:97px; background-position: -507px -858px}
.Cabon {width:147px; height:90px; background-position: -749px -1501px}
.Cabon_s_CFAfranc {width:91px; height:92px; background-position: -1397px -2978px}
.Cameroon {width:148px; height:91px; background-position: -152px -1228px}
.Cameroon_s_CFAfranc {width:90px; height:92px; background-position: -751px -3322px}
.Canada {width:146px; height:91px; background-position: -1337px -1930px}
.Canada_s_Dollar {width:91px; height:92px; background-position: -1491px -2935px}
.Cape_Verde {width:145px; height:91px; background-position: -592px -2443px}
.Cape_Verde_s_escudo {width:92px; height:93px; background-position: -2px -2798px}
.Cayman_Islands {width:146px; height:92px; background-position: -893px -1746px}
.Cayman_Islands_s_Dollar {width:93px; height:92px; background-position: -1329px -2484px}
.Central_African_Republic {width:145px; height:92px; background-position: -741px -2341px}
.Central_African_Republic_s_CFAfranc {width:92px; height:92px; background-position: -1708px -2559px}
.Chad {width:145px; height:91px; background-position: -740px -2435px}
.Chad_s_CFAfranc {width:92px; height:92px; background-position: -2px -2987px}
.Chechen_Republic {width:167px; height:97px; background-position: -522px -561px}
.Chechen_Republic_of_Ichkeria {width:167px; height:97px; background-position: -2px -633px}
.Chile {width:146px; height:91px; background-position: -1879px -1917px}
.Chile_s_Peso {width:93px; height:92px; background-position: -1953px -2469px}
.China {width:147px; height:91px; background-position: -600px -1417px}
.China_s_Yuan_Renminbi {width:93px; height:90px; background-position: -1276px -2578px}
.Christmas_Island {width:167px; height:96px; background-position: -1776px -500px}
.Chuvashia {width:167px; height:96px; background-position: -2px -732px}
.Cocos_Keeling_Islands {width:198px; height:128px; background-position: -735px -2px}
.Colombia {width:148px; height:91px; background-position: -319px -1162px}
.Colombia_s_Peso {width:92px; height:90px; background-position: -378px -3006px}
.Comoros {width:146px; height:92px; background-position: -1044px -1743px}
.Comoros_s_franc {width:91px; height:92px; background-position: -1597px -2934px}
.Cook_Islands {width:166px; height:96px; background-position: -170px -936px}
.Costa_Rica {width:148px; height:92px; background-position: -1009px -1091px}
.Costa_Rica_s_Colon {width:92px; height:90px; background-position: -473px -2998px}
.Cote_Dlvoire {width:167px; height:96px; background-position: -171px -640px}
.Crimea {width:167px; height:96px; background-position: -340px -572px}
.Croatia {width:147px; height:93px; background-position: -1159px -1181px}
.Croatia_s_Kuna {width:95px; height:91px; background-position: -1939px -787px}
.Cyprus {width:147px; height:92px; background-position: -1308px -1202px}
.Cyprus_s_Euro {width:93px; height:92px; background-position: -1858px -2469px}
.Czech_Republic {width:145px; height:92px; background-position: -889px -2297px}
.Czech_Republic_s_Koruna {width:91px; height:95px; background-position: -284px -3017px}
.Dagestan {width:166px; height:96px; background-position: -338px -868px}
.Democratic_Republic_of_the_Congo {width:146px; height:90px; background-position: -2px -2333px}
.Democratic_Republic_of_the_Congo_s_CFAfranc {width:92px; height:93px; background-position: -97px -2721px}
.Denmark {width:145px; height:90px; background-position: -1723px -2282px}
.Denmark_s_Krone {width:91px; height:93px; background-position: -1398px -2883px}
.Djibouti {width:146px; height:92px; background-position: -1194px -1669px}
.Djibouti_s_Franc {width:91px; height:92px; background-position: -1746px -2845px}
.Dominica {width:148px; height:93px; background-position: -1529px -993px}
.Dominica_s_East_Caribbean_dollar {width:92px; height:92px; background-position: -96px -2910px}
.Dominican_Republic {width:145px; height:92px; background-position: -1038px -2294px}
.Dominican_Republic_s_Peso {width:92px; height:90px; background-position: -620px -2954px}
.EI_Salvador {width:146px; height:90px; background-position: -150px -2255px}
.EI_Salvador_s_dollar {width:91px; height:91px; background-position: -900px -3159px}
.East_Timor {width:146px; height:92px; background-position: -1361px -1650px}
.East_Timor_s_dollar {width:92px; height:91px; background-position: -1304px -2856px}
.Easter_Island_Rapa_Nui {width:167px; height:97px; background-position: -171px -541px}
.Ecuador {width:147px; height:90px; background-position: -916px -1466px}
.Ecuador_s_dollar {width:91px; height:90px; background-position: -375px -3285px}
.Egypt {width:146px; height:91px; background-position: -2px -2148px}
.Egypt_s_Egyptian_pound {width:91px; height:92px; background-position: -1894px -2752px}
.England {width:167px; height:97px; background-position: -353px -473px}
.Equatorial_Guinea {width:146px; height:92px; background-position: -1772px -1633px}
.Equatorial_Guinea_s_CFAfranc {width:93px; height:94px; background-position: -1920px -1635px}
.Eritrea {width:148px; height:91px; background-position: -487px -1144px}
.Eritrea_s_Nakfa {width:92px; height:91px; background-position: -1410px -2790px}
.Estonia {width:146px; height:90px; background-position: -298px -2190px}
.Estonia_s_Euro {width:93px; height:92px; background-position: -1763px -2465px}
.Ethiopia {width:146px; height:92px; background-position: -1529px -1556px}
.Ethiopia_s_birr {width:91px; height:91px; background-position: -1047px -3139px}
.European_Union {width:167px; height:97px; background-position: -752px -542px}
.Falkland_Islands {width:166px; height:97px; background-position: -676px -839px}
.Faroe_Islands {width:166px; height:97px; background-position: -845px -829px}
.Fiji {width:146px; height:86px; background-position: -1186px -2134px}
.Fiji_s_Fijian_dolar {width:90px; height:91px; background-position: -1232px -3259px}
.Finland {width:147px; height:90px; background-position: -1084px -1463px}
.Finland_s_Euro {width:90px; height:93px; background-position: -188px -3317px}
.France {width:146px; height:92px; background-position: -2px -1867px}
.France_s_Euro {width:91px; height:91px; background-position: -1194px -3138px}
.French_Guiana {width:180px; height:119px; background-position: -232px -321px}
.French_Polynesia {width:167px; height:97px; background-position: -583px -462px}
.French_Southern_and_Antarctic_Lands {width:167px; height:97px; background-position: -2px -534px}
.Gabon {width:167px; height:97px; background-position: -184px -442px}
.Gambia {width:147px; height:90px; background-position: -1259px -1389px}
.Gambia_s_Dalasi {width:93px; height:92px; background-position: -1668px -2465px}
.Gambodia {width:147px; height:90px; background-position: -1586px -1370px}
.Gambodia_s_Riel {width:93px; height:91px; background-position: -1424px -2484px}
.Gaza {width:253px; height:128px; background-position: -2px -2px}
.Georgia {width:146px; height:90px; background-position: -446px -2173px}
.Georgia_s_lari {width:92px; height:91px; background-position: -1559px -2747px}
.Germany {width:146px; height:91px; background-position: -150px -2070px}
.Germany_s_Euro {width:94px; height:92px; background-position: -1755px -1280px}
.Ghana {width:148px; height:93px; background-position: -2px -1212px}
.Ghana_s_cedi {width:91px; height:90px; background-position: -469px -3278px}
.Gibraltar {width:167px; height:97px; background-position: -414px -374px}
.Greece {width:147px; height:91px; background-position: -767px -1408px}
.Greece_s_Euro {width:91px; height:91px; background-position: -1342px -3072px}
.Greenland {width:166px; height:97px; background-position: -1027px -792px}
.Grenada {width:147px; height:91px; background-position: -935px -1373px}
.Grenada_s_East_Caribbean_dollar {width:90px; height:91px; background-position: -1379px -3216px}
.Guadeloupe {width:238px; height:158px; background-position: -257px -2px}
.Guam {width:166px; height:97px; background-position: -2px -929px}
.Guatemala {width:146px; height:92px; background-position: -150px -1789px}
.Guatemala_s_quetzal {width:91px; height:92px; background-position: -2px -3269px}
.Guba {width:147px; height:92px; background-position: -1477px -1183px}
.Guba_s_Peso {width:93px; height:94px; background-position: -1677px -1563px}
.Guernsey {width:166px; height:97px; background-position: -170px -837px}
.Guernsey_Island {width:236px; height:159px; background-position: -497px -2px}
.Guinea {width:147px; height:91px; background-position: -1110px -1370px}
.Guinea_Bissau {width:146px; height:92px; background-position: -298px -1724px}
.Guinea_Bissau_s_CFAfranc {width:92px; height:93px; background-position: -244px -2658px}
.Guinea_s_Guinean_franc {width:90px; height:92px; background-position: -846px -3252px}
.Guyana {width:146px; height:91px; background-position: -298px -2005px}
.Guyana_s_Guyanese_dollar {width:92px; height:92px; background-position: -190px -2847px}
.Haiti {width:146px; height:90px; background-position: -594px -2162px}
.Haiti_s_gourde {width:90px; height:91px; background-position: -1527px -3215px}
.Herm {width:166px; height:98px; background-position: -921px -630px}
.Honduras {width:145px; height:91px; background-position: -888px -2391px}
.Honduras_s_lempira {width:92px; height:92px; background-position: -285px -2830px}
.Hong_Kong {width:166px; height:97px; background-position: -339px -769px}
.Hungary {width:147px; height:91px; background-position: -1606px -1277px}
.Hungary_s_Forint {width:93px; height:90px; background-position: -1424px -2577px}
.Iceland {width:148px; height:93px; background-position: -169px -1133px}
.Iceland_s_Krona {width:90px; height:91px; background-position: -1767px -3126px}
.India {width:147px; height:89px; background-position: -599px -1510px}
.India_s_Rupee {width:92px; height:92px; background-position: -432px -2819px}
.Indonesia {width:147px; height:91px; background-position: -1288px -1296px}
.Indonesia_s_Rupiah_1 {width:92px; height:92px; background-position: -579px -2811px}
.Ingushetia {width:166px; height:98px; background-position: -1433px -715px}
.Iran {width:146px; height:91px; background-position: -446px -1987px}
.Iran_s_Rial {width:91px; height:91px; background-position: -1490px -3029px}
.Iraq {width:145px; height:91px; background-position: -1036px -2388px}
.Iraq_s_dinar {width:92px; height:91px; background-position: -1707px -2746px}
.Ireland {width:145px; height:89px; background-position: -1869px -2378px}
.Ireland_s_Euro {width:92px; height:92px; background-position: -726px -2767px}
.Isle_of_Man {width:146px; height:92px; background-position: -447px -1706px}
.Isle_of_Man_s_Pound {width:92px; height:91px; background-position: -1801px -2657px}
.Isreal {width:147px; height:91px; background-position: -1457px -1277px}
.Isreal_s_Shekel {width:91px; height:93px; background-position: -1504px -2840px}
.Italy {width:146px; height:90px; background-position: -742px -2154px}
.Italy_s_Euro {width:90px; height:92px; background-position: -993px -3232px}
.Ivory_Coast {width:146px; height:90px; background-position: -890px -2119px}
.Ivory_Coast_s_CFAfranc {width:95px; height:94px; background-position: -1945px -596px}
.Jamaica {width:145px; height:90px; background-position: -1874px -2195px}
.Jamaica_s_Dollar {width:92px; height:94px; background-position: -834px -2576px}
.Japan {width:147px; height:90px; background-position: -1437px -1370px}
.Japan_s_Yen {width:92px; height:91px; background-position: -2px -3081px}
.Jersey {width:145px; height:93px; background-position: -446px -2265px}
.Jersey_s_Pound {width:92px; height:90px; background-position: -767px -2953px}
.Jordan {width:146px; height:91px; background-position: -594px -1976px}
.Jordan_s_Dinar {width:93px; height:90px; background-position: -1519px -2511px}
.Kabardino_Balkaria {width:166px; height:97px; background-position: -508px -759px}
.Kalmykia {width:166px; height:98px; background-position: -1603px -695px}
.Karachay_Cherkessia {width:167px; height:98px; background-position: -1652px -203px}
.Karakalpakstan {width:167px; height:97px; background-position: -928px -531px}
.Karelia {width:166px; height:97px; background-position: -677px -740px}
.Kazakhstan {width:146px; height:91px; background-position: -742px -1968px}
.Kazakhstan_s_Tenge {width:91px; height:92px; background-position: -95px -3192px}
.Kenya {width:146px; height:91px; background-position: -891px -1933px}
.Kenya_s_Shilling {width:93px; height:92px; background-position: -1573px -2417px}
.Khakassia {width:166px; height:97px; background-position: -859px -730px}
.Kiribati {width:146px; height:90px; background-position: -1038px -2116px}
.Kiribati_s_Dollar {width:92px; height:91px; background-position: -96px -3004px}
.Komi {width:166px; height:97px; background-position: -2px -830px}
.Korea-n {width:146px; height:91px; background-position: -1040px -1930px}
.Korea-n_s_yuan {width:92px; height:91px; background-position: -190px -2941px}
.Korea-s {width:146px; height:93px; background-position: -300px -1535px}
.Korea-s_s_yuan {width:90px; height:90px; background-position: -843px -3346px}
.Kosovo {width:166px; height:97px; background-position: -171px -738px}
.Kuban_Peoples_Republic {width:166px; height:97px; background-position: -340px -670px}
.Kuwait {width:145px; height:91px; background-position: -1185px -2316px}
.Kuwait_s_Dinar {width:92px; height:91px; background-position: -284px -2924px}
.Kyrgyzstan {width:147px; height:91px; background-position: -1871px -1260px}
.Kyrgyzstan_s_Som {width:94px; height:92px; background-position: -1775px -1186px}
.Ladonia {width:167px; height:97px; background-position: -1098px -493px}
.Laos {width:147px; height:90px; background-position: -1851px -1353px}
.Laos_s_Kip {width:91px; height:91px; background-position: -1584px -3028px}
.Latvia {width:146px; height:90px; background-position: -1187px -2042px}
.Latvia_s_Latt {width:90px; height:91px; background-position: -1675px -3126px}
.Lebanon {width:146px; height:91px; background-position: -1189px -1856px}
.Lebanon_s_Pound {width:93px; height:94px; background-position: -1947px -1539px}
.Lesotho {width:146px; height:91px; background-position: -1731px -1913px}
.Lesotho_s_loti {width:90px; height:91px; background-position: -1953px -3125px}
.Liberia {width:146px; height:92px; background-position: -596px -1695px}
.Liberia_s_Dollar {width:92px; height:93px; background-position: -391px -2641px}
.Libya {width:147px; height:93px; background-position: -1328px -1107px}
.Libya_s_Dinar {width:90px; height:92px; background-position: -1140px -3231px}
.Liechtenstein {width:146px; height:92px; background-position: -745px -1687px}
.Liechtenstein_s_franc {width:92px; height:91px; background-position: -379px -2913px}
.Lithuania {width:146px; height:91px; background-position: -1488px -1837px}
.Lithuania_s_Litas {width:91px; height:92px; background-position: -189px -3130px}
.Los_Altos {width:166px; height:97px; background-position: -509px -660px}
.Luxembourg {width:145px; height:93px; background-position: -594px -2254px}
.Luxembourg_s_Euro {width:92px; height:91px; background-position: -526px -2905px}
.Macau {width:166px; height:97px; background-position: -691px -641px}
.Macedonia {width:146px; height:92px; background-position: -896px -1652px}
.Macedonia_s_Dinar {width:93px; height:92px; background-position: -1478px -2390px}
.Madagascar {width:146px; height:90px; background-position: -1336px -2023px}
.Madagascar_s_ariary {width:91px; height:93px; background-position: -1653px -2839px}
.Malawi {width:146px; height:91px; background-position: -1340px -1837px}
.Malawi_s_kwacha {width:93px; height:92px; background-position: -2px -2704px}
.Malaysia {width:145px; height:91px; background-position: -1333px -2297px}
.Malaysia_s_Ringgit {width:92px; height:90px; background-position: -914px -2948px}
.Maldives {width:146px; height:91px; background-position: -1881px -1824px}
.Maldives_s_rufiyaa {width:94px; height:93px; background-position: -1795px -1091px}
.Mali {width:146px; height:91px; background-position: -1733px -1820px}
.Mali_s_CFAfranc {width:93px; height:92px; background-position: -149px -2627px}
.Malta {width:147px; height:92px; background-position: -1646px -1090px}
.Malta_s_Euro {width:93px; height:92px; background-position: -296px -2564px}
.Mari_EI {width:166px; height:97px; background-position: -1761px -896px}
.Marshall_Islands {width:147px; height:92px; background-position: -2px -1400px}
.Marshall_Islands_s_Dollar {width:92px; height:93px; background-position: -538px -2630px}
.Martinique {width:236px; height:159px; background-position: -2px -132px}
.Mauritania {width:146px; height:90px; background-position: -1485px -2022px}
.Mauritania_s_Ouguiya {width:91px; height:91px; background-position: -1690px -2939px}
.Mauritius {width:146px; height:92px; background-position: -1046px -1649px}
.Mauritius_s_Rupee {width:94px; height:94px; background-position: -1929px -976px}
.Mayotte {width:194px; height:130px; background-position: -935px -2px}
.Mexico {width:146px; height:92px; background-position: -1213px -1575px}
.Mexico_s_Peso {width:92px; height:93px; background-position: -780px -2672px}
.Micronesia {width:148px; height:92px; background-position: -1178px -1087px}
.Micronesia_s_Dollar {width:92px; height:92px; background-position: -874px -2766px}
.Moldova {width:147px; height:91px; background-position: -1626px -1184px}
.Moldova_s_Leu {width:91px; height:92px; background-position: -283px -3114px}
.Monaco {width:146px; height:92px; background-position: -1381px -1556px}
.Monaco_s_Euro {width:93px; height:91px; background-position: -1033px -2573px}
.Mongolia {width:147px; height:91px; background-position: -1891px -1167px}
.Mongolia_s_Tughrik {width:90px; height:91px; background-position: -1861px -3125px}
.Montenegro {width:146px; height:92px; background-position: -1799px -1539px}
.Montenegro_s_Euro {width:94px; height:91px; background-position: -1735px -1374px}
.Montserrat {width:166px; height:97px; background-position: -1593px -894px}
.Mordvia {width:166px; height:97px; background-position: -1769px -797px}
.Morocco {width:147px; height:93px; background-position: -1497px -1088px}
.Morocco_s_Dirham {width:92px; height:93px; background-position: -686px -2622px}
.Mozambique {width:147px; height:91px; background-position: -2px -1494px}
.Mozambique_s_Metical {width:90px; height:92px; background-position: -1287px -3165px}
.Myanmar_Burma {width:166px; height:99px; background-position: -1267px -587px}
.Nagorno_Karabakh_Republic {width:166px; height:97px; background-position: -1425px -815px}
.Namibia {width:144px; height:91px; background-position: -1183px -2409px}
.Namibia_s_Dollar {width:93px; height:92px; background-position: -443px -2547px}
.Nansilafu {width:166px; height:83px; background-position: -2px -1028px}
.Nauru {width:147px; height:90px; background-position: -2px -1587px}
.Nauru_s_AUD {width:90px; height:91px; background-position: -1769px -3033px}
.Nepal {width:146px; height:91px; background-position: -1490px -1744px}
.Nepal_s_Rupee {width:92px; height:93px; background-position: -928px -2671px}
.Netherlands {width:147px; height:91px; background-position: -151px -1415px}
.Netherlands_Antilles {width:166px; height:97px; background-position: -1601px -795px}
.Netherlands_s_Antilles_Guilder {width:92px; height:92px; background-position: -1022px -2761px}
.New_Caledonia {width:180px; height:90px; background-position: -1131px -2px}
.Newzealand {width:146px; height:84px; background-position: -1038px -2208px}
.Newzealand_s_Dollar {width:93px; height:92px; background-position: -591px -2536px}
.Nicaragua {width:146px; height:91px; background-position: -2px -2055px}
.Nicaragua_s_Cordoba {width:91px; height:91px; background-position: -1932px -2846px}
.Niger {width:145px; height:92px; background-position: -1186px -2222px}
.Niger_s_CFAfranc {width:92px; height:94px; background-position: -1128px -2595px}
.Nigeria {width:147px; height:90px; background-position: -151px -1508px}
.Nigeria_s_Naira {width:92px; height:92px; background-position: -1116px -2691px}
.Niue {width:167px; height:98px; background-position: -1821px -103px}
.Norfolk_Island {width:166px; height:98px; background-position: -1773px -598px}
.North_Ossetia {width:166px; height:98px; background-position: -1265px -688px}
.Northem_Mariana_Islands {width:167px; height:98px; background-position: -1652px -103px}
.Norway {width:167px; height:97px; background-position: -1268px -488px}
.Norway_s_Krone {width:92px; height:91px; background-position: -673px -2861px}
.Oman {width:145px; height:91px; background-position: -1481px -2205px}
.Oman_s_Rial {width:91px; height:92px; background-position: -377px -3098px}
.Pakistan {width:147px; height:91px; background-position: -301px -1349px}
.Pakistan_s_Rupee {width:91px; height:94px; background-position: -190px -3034px}
.Palau {width:145px; height:90px; background-position: -1480px -2298px}
.Palau_s_US_Dollar {width:91px; height:91px; background-position: -1839px -2846px}
.Palestine {width:165px; height:97px; background-position: -673px -1038px}
.Panama {width:147px; height:91px; background-position: -451px -1331px}
.Panama_s_Balboa {width:92px; height:92px; background-position: -1222px -2670px}
.Papua_New_Guinea {width:146px; height:92px; background-position: -1556px -1462px}
.Papua_New_Guinea_s_Kina {width:91px; height:91px; background-position: -2px -3363px}
.Paraguay {width:145px; height:89px; background-position: -1722px -2374px}
.Paraguay_s_Guarani {width:95px; height:93px; background-position: -1941px -692px}
.Peru {width:147px; height:92px; background-position: -152px -1321px}
.Peru_s_Nuevo_Sol {width:93px; height:93px; background-position: -1632px -2134px}
.Philippines {width:145px; height:91px; background-position: -1728px -2097px}
.Philippines_s_Peso {width:89px; height:91px; background-position: -94px -3567px}
.Pitcairn_Islands {width:167px; height:97px; background-position: -1437px -403px}
.Poland {width:145px; height:89px; background-position: -1870px -2287px}
.Poland_s_Zloty {width:91px; height:93px; background-position: -1801px -2750px}
.Portugal {width:145px; height:90px; background-position: -1727px -2190px}
.Portugal_s_Euro {width:93px; height:93px; background-position: -1633px -2039px}
.Puerto_Rico {width:167px; height:97px; background-position: -1607px -402px}
.Qatar {width:146px; height:90px; background-position: -1485px -1930px}
.Qatar_s_riyal {width:90px; height:90px; background-position: -938px -3326px}
.Republic_of_the_Congo {width:148px; height:92px; background-position: -1347px -1013px}
.Republic_of_the_Congo_s_CFAfranc {width:92px; height:92px; background-position: -1371px -2669px}
.Republika_Srpska {width:165px; height:97px; background-position: -842px -1029px}
.Reunion {width:180px; height:109px; background-position: -2px -423px}
.Romania_New {width:145px; height:92px; background-position: -1334px -2203px}
.Romania_New_s_Leu {width:91px; height:92px; background-position: -472px -3090px}
.Russia {width:146px; height:92px; background-position: -2px -1773px}
.Russia_s_Ruble {width:94px; height:93px; background-position: -1924px -1072px}
.Rwanda {width:146px; height:91px; background-position: -150px -1977px}
.Rwanda_s_Franc {width:92px; height:92px; background-position: -1519px -2603px}
.Saba {width:166px; height:98px; background-position: -1435px -615px}
.Saint_Barthelemy {width:165px; height:98px; background-position: -506px -957px}
.Saint_Helena {width:146px; height:86px; background-position: -1335px -2115px}
.Saint_Helena_s_Pound {width:92px; height:92px; background-position: -1614px -2559px}
.Saint_Kitts_and_Nevis {width:147px; height:91px; background-position: -618px -1324px}
.Saint_Kitts_and_Nevis_s_dollar {width:92px; height:91px; background-position: -820px -2860px}
.Saint_Lucia {width:146px; height:89px; background-position: -1728px -2006px}
.Saint_Lucia_s_dollar {width:92px; height:91px; background-position: -968px -2855px}
.Saint_Martin {width:167px; height:98px; background-position: -671px -263px}
.Saint_Pierre_and_Miquelon {width:167px; height:98px; background-position: -930px -233px}
.Saint_Vincent_and_the_Grenadines {width:146px; height:92px; background-position: -150px -1695px}
.Saint_Vincent_and_the_Grenadines_s_dollar {width:91px; height:93px; background-position: -1895px -2657px}
.Sakha_Republic {width:166px; height:98px; background-position: -1605px -595px}
.Samoa {width:146px; height:93px; background-position: -449px -1517px}
.Samoa_s_tala {width:91px; height:90px; background-position: -563px -3234px}
.San_Marino {width:147px; height:92px; background-position: -302px -1255px}
.San_Marino_s_Euro {width:96px; height:94px; background-position: -1945px -500px}
.Sao_Tome_and_Principe {width:146px; height:92px; background-position: -299px -1630px}
.Sao_Tome_and_Principe_s_dobra {width:93px; height:92px; background-position: -739px -2528px}
.Sark {width:165px; height:98px; background-position: -675px -938px}
.Saudi_Arabia {width:145px; height:91px; background-position: -1876px -2010px}
.Saudi_Arabia_s_Riyal {width:91px; height:91px; background-position: -95px -3286px}
.Scotland {width:192px; height:115px; background-position: -477px -257px}
.Sealand_Principality {width:167px; height:97px; background-position: -1808px -401px}
.Senegal {width:147px; height:92px; background-position: -469px -1237px}
.Senegal_s_CFAfranc {width:92px; height:91px; background-position: -1116px -2785px}
.Serbia {width:146px; height:91px; background-position: -298px -1912px}
.Serbia_s_Dinar {width:92px; height:92px; background-position: -2px -2893px}
.Seychelles {width:145px; height:93px; background-position: -742px -2246px}
.Seychelles_s_Rupee {width:91px; height:90px; background-position: -658px -3233px}
.Sierra_Leone {width:146px; height:91px; background-position: -446px -1894px}
.Sierra_Leone_s_Leone {width:92px; height:93px; background-position: -1022px -2666px}
.Sikkim {width:165px; height:97px; background-position: -1011px -992px}
.Singapore {width:145px; height:92px; background-position: -2px -2425px}
.Singapore_s_Dollar {width:92px; height:91px; background-position: -1210px -2764px}
.Slovakia {width:146px; height:90px; background-position: -2px -2241px}
.Slovakia_s_Euro {width:92px; height:92px; background-position: -96px -2816px}
.Slovenia {width:146px; height:92px; background-position: -448px -1612px}
.Slovenia_s_Euro {width:92px; height:91px; background-position: -1316px -2763px}
.Solomon_Islands {width:145px; height:91px; background-position: -2px -2519px}
.Solomon_Islands_s_Dollar {width:92px; height:91px; background-position: -1465px -2697px}
.Somalia {width:145px; height:90px; background-position: -1875px -2103px}
.Somalia_s_Shilling {width:91px; height:91px; background-position: -188px -3224px}
.Somaliland {width:165px; height:97px; background-position: -1180px -988px}
.South_Africa {width:146px; height:90px; background-position: -150px -2163px}
.South_Africa_s_Rand {width:91px; height:93px; background-position: -2px -3174px}
.South_Georgia_and_the_South_Sandwich_Islands {width:165px; height:97px; background-position: -1362px -914px}
.South_Ossetia {width:165px; height:97px; background-position: -2px -1113px}
.South_Sudan {width:146px; height:92px; background-position: -597px -1601px}
.South_Sudan_s_SSPound {width:92px; height:92px; background-position: -191px -2753px}
.Sovereign_Military_Order_of_Malta {width:167px; height:97px; background-position: -929px -432px}
.Spain {width:146px; height:92px; background-position: -748px -1593px}
.Spain_s_Euro {width:93px; height:91px; background-position: -1181px -2502px}
.Srilanka {width:169px; height:84px; background-position: -1313px -2px}
.Sudan {width:146px; height:91px; background-position: -594px -1883px}
.Sudan_s_Pound {width:91px; height:91px; background-position: -282px -3208px}
.Suriname {width:167px; height:97px; background-position: -1099px -394px}
.Suriname_s_Dollar {width:90px; height:91px; background-position: -1875px -3032px}
.Swaziland {width:146px; height:90px; background-position: -298px -2098px}
.Swaziland_s_SARand {width:89px; height:91px; background-position: -186px -3506px}
.Sweden {width:145px; height:90px; background-position: -2px -2612px}
.Sweden_s_Krona {width:90px; height:91px; background-position: -1875px -2939px}
.Switzerland {width:147px; height:92px; background-position: -637px -1230px}
.Switzerland_s_Franc {width:90px; height:92px; background-position: -1435px -3122px}
.Syria {width:146px; height:91px; background-position: -743px -1875px}
.Syria_s_Pound {width:93px; height:93px; background-position: -1633px -1944px}
.Taiwan {width:146px; height:91px; background-position: -892px -1840px}
.Taiwan_s_New_Dollar {width:92px; height:92px; background-position: -338px -2736px}
.Tajikistan {width:146px; height:92px; background-position: -898px -1558px}
.Tajikistan_s_Somoni {width:91px; height:91px; background-position: -376px -3192px}
.Tanzania {width:146px; height:91px; background-position: -1041px -1837px}
.Tanzania_s_Shilling {width:91px; height:93px; background-position: -96px -3097px}
.Tatarstan {width:167px; height:98px; background-position: -1100px -194px}
.Thailand {width:146px; height:92px; background-position: -1065px -1555px}
.Thailand_s_Baht {width:94px; height:94px; background-position: -1937px -880px}
.Tierra_del_Fuego_Province_Argentina {width:167px; height:97px; background-position: -1268px -389px}
.Togo {width:147px; height:92px; background-position: -812px -1221px}
.Togo_s_CFAfranc {width:89px; height:94px; background-position: -560px -3420px}
.Tokelau {width:167px; height:97px; background-position: -1438px -304px}
.Tonga {width:147px; height:91px; background-position: -786px -1315px}
.Tonga_s_Pa'anga {width:90px; height:91px; background-position: -2px -3550px}
.Transnistria {width:166px; height:97px; background-position: -1771px -698px}
.Trinidad_and_Tobago {width:146px; height:92px; background-position: -1233px -1481px}
.Trinidad_and_Tobago_s_Dollar {width:93px; height:93px; background-position: -1636px -1849px}
.Tristan_da_Cunha {width:167px; height:98px; background-position: -1301px -189px}
.Tunisia {width:145px; height:92px; background-position: -150px -2347px}
.Tunisia_s_Dinar {width:92px; height:92px; background-position: -485px -2725px}
.Turkey {width:146px; height:92px; background-position: -1408px -1462px}
.Turkey_s_Lira {width:90px; height:91px; background-position: -94px -3474px}
.Turkish_Republic_of_Northern_Cyprus {width:166px; height:97px; background-position: -1257px -788px}
.Turkmenistan {width:145px; height:91px; background-position: -149px -2441px}
.Turkmenistan_s_Manat {width:93px; height:92px; background-position: -1627px -2323px}
.Turks_and_Caicos_Islands {width:167px; height:97px; background-position: -1639px -303px}
.Tuva {width:166px; height:97px; background-position: -1089px -693px}
.Tuvalu {width:155px; height:85px; background-position: -505px -1057px}
.Tuvalu_s_Dollar {width:90px; height:92px; background-position: -1583px -3121px}
.UAE {width:193px; height:92px; background-position: -477px -163px}
.UAE_s_Dirham {width:89px; height:91px; background-position: -279px -3487px}
.UK {width:147px; height:93px; background-position: -1679px -995px}
.UK_s_Pound {width:91px; height:92px; background-position: -567px -3046px}
.USA {width:146px; height:92px; background-position: -2px -1679px}
.USA_s_Dollar {width:92px; height:92px; background-position: -632px -2717px}
.Udmurtia {width:167px; height:97px; background-position: -1821px -302px}
.Uganda {width:148px; height:94px; background-position: -337px -1066px}
.Uganda_s_Shilling {width:92px; height:91px; background-position: -1707px -2653px}
.Ukraine {width:146px; height:92px; background-position: -1831px -1445px}
.Ukraine_s_Hryvna {width:93px; height:93px; background-position: -1638px -1754px}
.United-nations {width:228px; height:128px; background-position: -2px -293px}
.Uruguay {width:144px; height:90px; background-position: -1035px -2481px}
.Uruguay_s_Peso {width:93px; height:93px; background-position: -1657px -1659px}
.Uzbekistan {width:147px; height:91px; background-position: -961px -1280px}
.Uzbekistan_s_Som {width:90px; height:92px; background-position: -1677px -3032px}
.Vanuatu {width:146px; height:91px; background-position: -1192px -1763px}
.Vanuatu_s_Vatu {width:92px; height:93px; background-position: -928px -2576px}
.Vatican_City {width:90px; height:90px; background-position: -748px -3416px}
.Vatican_City_s_Euro {width:90px; height:92px; background-position: -1783px -2939px}
.Venezuela {width:148px; height:91px; background-position: -662px -1137px}
.Venezuela_s_Bolivar {width:92px; height:90px; background-position: -1062px -2878px}
.Viet_Nam {width:148px; height:91px; background-position: -840px -1128px}
.Viet_Nam_s_Dong {width:91px; height:92px; background-position: -714px -3045px}
.Virgin_Islands_UK {width:167px; height:97px; background-position: -1821px -203px}
.Virgin_Islands_US {width:167px; height:97px; background-position: -671px -363px}
.Wales {width:165px; height:97px; background-position: -170px -1034px}
.Wallis_amp_Futuna {width:193px; height:129px; background-position: -735px -132px}
.Western_Sahara {width:167px; height:97px; background-position: -930px -333px}
.Yemen {width:146px; height:91px; background-position: -1342px -1744px}
.Yemen_s_Rial {width:90px; height:92px; background-position: -2px -3456px}
.Zambia {width:146px; height:91px; background-position: -1900px -1731px}
.Zambia_s_Kwacha {width:93px; height:92px; background-position: -1628px -2229px}
.Zhayier {width:166px; height:111px; background-position: -1437px -502px}
.Zimbabwe {width:146px; height:91px; background-position: -1752px -1727px}
.Zimbabwe_s_Dollar {width:93px; height:94px; background-position: -1704px -1467px}
.srilanka_s_Rupee {width:86px; height:87px; background-position: -840px -453px}
