/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:eacae10707179a9b4ce2ad4c16232384$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(gbt2659other.png);}

.Abkhazia {width:159px; height:94px; background-position: -161px -578px}
.Adygea {width:158px; height:94px; background-position: -163px -1218px}
.Afghanistan_s_Afghani {width:90px; height:92px; background-position: -764px -290px}
.African_Union {width:157px; height:105px; background-position: -2px -313px}
.Ajaria {width:158px; height:94px; background-position: -164px -1121px}
.Aland {width:157px; height:94px; background-position: -323px -386px}
.Albania_s_lek {width:87px; height:94px; background-position: -348px -1890px}
.Alderney {width:157px; height:94px; background-position: -322px -578px}
.Algeria_s_Dinar {width:90px; height:91px; background-position: -1167px -943px}
.Altai_Republic {width:159px; height:94px; background-position: -161px -674px}
.Andorra_s_Euro {width:91px; height:92px; background-position: -576px -667px}
.Angola_s_kwanza {width:89px; height:92px; background-position: -886px -760px}
.Antigua_and_Barbuda_s_Dollar {width:91px; height:93px; background-position: -538px -1692px}
.Argentina_s_Peso {width:90px; height:92px; background-position: -855px -572px}
.Armenia_s_dram {width:91px; height:93px; background-position: -446px -1597px}
.Aruba_s_Guilder {width:91px; height:92px; background-position: -763px -384px}
.Australia_s_Dollar {width:91px; height:92px; background-position: -762px -666px}
.Austria_s_Euro {width:90px; height:92px; background-position: -856px -384px}
.Azerbaijan_s_New_Manat {width:90px; height:92px; background-position: -856px -290px}
.Bahamas_s_Dollar {width:90px; height:93px; background-position: -717px -1882px}
.Bahrain_s_Dinar_BHD {width:92px; height:92px; background-position: -576px -573px}
.Bangladensh_s_Taka {width:91px; height:91px; background-position: -1167px -850px}
.Barbados_s_Dollar {width:91px; height:92px; background-position: -670px -572px}
.Bashkortostan {width:160px; height:94px; background-position: -1625px -98px}
.Belarus_s_Ruble {width:89px; height:92px; background-position: -855px -666px}
.Belgium_s_Euro {width:92px; height:91px; background-position: -1232px -290px}
.Belize_s_Dollar {width:90px; height:92px; background-position: -855px -478px}
.Benin_s_Franc {width:91px; height:90px; background-position: -1354px -939px}
.Bermuda_s_Dollar {width:91px; height:92px; background-position: -670px -478px}
.Bhutan_s_ngultrum {width:91px; height:92px; background-position: -671px -290px}
.Bikini_Atoll {width:161px; height:94px; background-position: -1179px -2px}
.Bolivia_s_Boliviano {width:91px; height:92px; background-position: -670px -384px}
.Bosnia_and_Herzegovina_Federation {width:160px; height:94px; background-position: -1787px -98px}
.Bosnia_and_Herzegovina_s_Marka {width:91px; height:93px; background-position: -446px -1502px}
.Botswana_s_Pula {width:91px; height:93px; background-position: -355px -1407px}
.Brazil_s_Real {width:88px; height:92px; background-position: -946px -666px}
.British_Antarctic_Territory {width:158px; height:94px; background-position: -257px -962px}
.Brittany {width:162px; height:94px; background-position: -688px -2px}
.Brunei_s_Darussalam_Dollar {width:90px; height:92px; background-position: -916px -1512px}
.Bulgaria_s_lev {width:90px; height:89px; background-position: -1512px -290px}
.Burkina_s_Franc {width:94px; height:94px; background-position: -163px -1314px}
.Burma_s_Kyat {width:92px; height:92px; background-position: -576px -479px}
.Burundi_s_Franc {width:92px; height:92px; background-position: -577px -290px}
.Buryatia {width:160px; height:94px; background-position: -161px -194px}
.Cabon_s_CFAfranc {width:91px; height:92px; background-position: -823px -1419px}
.Cameroon_s_CFAfranc {width:90px; height:92px; background-position: -916px -1418px}
.Canada_s_Dollar {width:91px; height:92px; background-position: -732px -1325px}
.Cape_Verde_s_escudo {width:92px; height:93px; background-position: -352px -1600px}
.Cayman_Islands_s_Dollar {width:93px; height:92px; background-position: -634px -1433px}
.Central_African_Republic_s_CFAfranc {width:92px; height:92px; background-position: -576px -385px}
.Chad_s_CFAfranc {width:92px; height:92px; background-position: -1091px -1900px}
.Chechen_Republic {width:161px; height:94px; background-position: -1342px -2px}
.Chechen_Republic_of_Ichkeria {width:161px; height:94px; background-position: -1505px -2px}
.Chile_s_Peso {width:93px; height:92px; background-position: -609px -1148px}
.China_s_Yuan_Renminbi {width:93px; height:90px; background-position: -1260px -1035px}
.Chuvashia {width:163px; height:94px; background-position: -358px -2px}
.Colombia_s_Peso {width:92px; height:90px; background-position: -1418px -290px}
.Comoros_s_franc {width:91px; height:92px; background-position: -732px -1231px}
.Costa_Rica_s_Colon {width:92px; height:90px; background-position: -1417px -383px}
.Crimea {width:163px; height:94px; background-position: -523px -2px}
.Croatia_s_Kuna {width:95px; height:91px; background-position: -947px -478px}
.Cyprus_s_Euro {width:93px; height:92px; background-position: -543px -1339px}
.Czech_Republic_s_Koruna {width:91px; height:95px; background-position: -2px -1025px}
.Dagestan {width:162px; height:94px; background-position: -852px -2px}
.Democratic_Republic_of_the_Congo_s_CFAfranc {width:92px; height:93px; background-position: -352px -1505px}
.Denmark_s_Krone {width:91px; height:93px; background-position: -355px -1312px}
.Djibouti_s_Franc {width:91px; height:92px; background-position: -704px -1137px}
.Dominica_s_East_Caribbean_dollar {width:92px; height:92px; background-position: -1091px -1806px}
.Dominican_Republic_s_Peso {width:92px; height:90px; background-position: -1416px -569px}
.EI_Salvador_s_dollar {width:91px; height:91px; background-position: -1076px -1129px}
.East_Timor_s_dollar {width:92px; height:91px; background-position: -1231px -383px}
.Easter_Island_Rapa_Nui {width:161px; height:94px; background-position: -1668px -2px}
.Ecuador_s_dollar {width:91px; height:90px; background-position: -1503px -661px}
.Egypt_s_Egyptian_pound {width:91px; height:92px; background-position: -703px -1043px}
.England {width:161px; height:94px; background-position: -1831px -2px}
.Equatorial_Guinea_s_CFAfranc {width:93px; height:94px; background-position: -163px -1698px}
.Eritrea_s_Nakfa {width:92px; height:91px; background-position: -1138px -476px}
.Estonia_s_Euro {width:93px; height:92px; background-position: -543px -1245px}
.Ethiopia_s_birr {width:91px; height:91px; background-position: -1076px -1036px}
.European_Union {width:161px; height:94px; background-position: -161px -98px}
.Fiji_s_Fijian_dolar {width:90px; height:91px; background-position: -1101px -1411px}
.Finland_s_Euro {width:90px; height:93px; background-position: -630px -1787px}
.France_s_Euro {width:91px; height:91px; background-position: -1010px -1318px}
.Gambia_s_Dalasi {width:93px; height:92px; background-position: -722px -1715px}
.Gambodia_s_Riel {width:93px; height:91px; background-position: -1043px -290px}
.Gaza {width:185px; height:94px; background-position: -2px -2px}
.Georgia_s_lari {width:92px; height:91px; background-position: -1137px -569px}
.Germany_s_Euro {width:94px; height:92px; background-position: -512px -960px}
.Ghana_s_cedi {width:91px; height:90px; background-position: -1444px -754px}
.Greece_s_Euro {width:91px; height:91px; background-position: -1010px -1225px}
.Grenada_s_East_Caribbean_dollar {width:90px; height:91px; background-position: -1100px -1598px}
.Guatemala_s_quetzal {width:91px; height:92px; background-position: -701px -949px}
.Guba_s_Peso {width:93px; height:94px; background-position: -163px -1602px}
.Guernsey {width:160px; height:94px; background-position: -323px -194px}
.Guernsey_Island {width:157px; height:106px; background-position: -2px -98px}
.Guinea_Bissau_s_CFAfranc {width:92px; height:93px; background-position: -437px -1885px}
.Guinea_s_Guinean_franc {width:90px; height:92px; background-position: -825px -1324px}
.Guyana_s_Guyanese_dollar {width:92px; height:92px; background-position: -997px -1903px}
.Haiti_s_gourde {width:90px; height:91px; background-position: -1100px -1505px}
.Herm {width:159px; height:94px; background-position: -161px -770px}
.Honduras_s_lempira {width:92px; height:92px; background-position: -1005px -1712px}
.Hungary_s_Forint {width:93px; height:90px; background-position: -1169px -1129px}
.Iceland_s_Krona {width:90px; height:91px; background-position: -1099px -1691px}
.India_s_Rupee {width:92px; height:92px; background-position: -997px -1809px}
.Indonesia_s_Rupiah_1 {width:92px; height:92px; background-position: -903px -1903px}
.Ingushetia {width:159px; height:94px; background-position: -161px -866px}
.Iran_s_Rial {width:91px; height:91px; background-position: -1008px -1412px}
.Iraq_s_dinar {width:92px; height:91px; background-position: -1130px -664px}
.Ireland_s_Euro {width:92px; height:92px; background-position: -914px -1618px}
.Isle_of_Man {width:157px; height:99px; background-position: -2px -523px}
.Isle_of_Man_s_Pound {width:92px; height:91px; background-position: -1071px -757px}
.Isreal_s_Shekel {width:91px; height:93px; background-position: -624px -1885px}
.Italy_s_Euro {width:90px; height:92px; background-position: -825px -1230px}
.Ivory_Coast {width:157px; height:97px; background-position: -2px -926px}
.Ivory_Coast_s_CFAfranc {width:95px; height:94px; background-position: -1943px -194px}
.Jamaica_s_Dollar {width:92px; height:94px; background-position: -163px -1890px}
.Japan_s_Yen {width:92px; height:91px; background-position: -982px -1039px}
.Jersey {width:157px; height:101px; background-position: -2px -420px}
.Jersey_s_Pound {width:92px; height:90px; background-position: -1409px -662px}
.Jordan_s_Dinar {width:93px; height:90px; background-position: -1259px -943px}
.Kabardino_Balkaria {width:160px; height:94px; background-position: -485px -194px}
.Kalmykia {width:159px; height:94px; background-position: -2px -1218px}
.Karachay_Cherkessia {width:160px; height:94px; background-position: -647px -194px}
.Karakalpakstan {width:161px; height:94px; background-position: -324px -98px}
.Karelia {width:160px; height:94px; background-position: -809px -194px}
.Kazakhstan_s_Tenge {width:91px; height:92px; background-position: -701px -855px}
.Kenya_s_Shilling {width:93px; height:92px; background-position: -631px -1621px}
.Khakassia {width:160px; height:94px; background-position: -971px -194px}
.Kiribati_s_Dollar {width:92px; height:91px; background-position: -980px -946px}
.Komi {width:160px; height:94px; background-position: -1133px -194px}
.Korea-n_s_yuan {width:92px; height:91px; background-position: -980px -853px}
.Korea-s_s_yuan {width:90px; height:90px; background-position: -1511px -382px}
.Kosovo {width:160px; height:94px; background-position: -1295px -194px}
.Kuban_Peoples_Republic {width:160px; height:94px; background-position: -1457px -194px}
.Kuwait_s_Dinar {width:92px; height:91px; background-position: -889px -1133px}
.Kyrgyzstan_s_Som {width:94px; height:92px; background-position: -419px -1057px}
.Ladonia {width:161px; height:94px; background-position: -487px -98px}
.Laos_s_Kip {width:91px; height:91px; background-position: -917px -1319px}
.Latvia_s_Latt {width:90px; height:91px; background-position: -1008px -1598px}
.Lebanon_s_Pound {width:93px; height:94px; background-position: -163px -1506px}
.Lesotho_s_loti {width:90px; height:91px; background-position: -1008px -1505px}
.Liberia_s_Dollar {width:92px; height:93px; background-position: -350px -1790px}
.Libya_s_Dinar {width:90px; height:92px; background-position: -797px -1136px}
.Liechtenstein_s_franc {width:92px; height:91px; background-position: -888px -1040px}
.Lithuania_s_Litas {width:91px; height:92px; background-position: -701px -761px}
.Los_Altos {width:160px; height:94px; background-position: -1619px -194px}
.Luxembourg_s_Euro {width:92px; height:91px; background-position: -1138px -290px}
.Macedonia_s_Dinar {width:93px; height:92px; background-position: -539px -1527px}
.Madagascar_s_ariary {width:91px; height:93px; background-position: -537px -1790px}
.Malawi_s_kwacha {width:93px; height:92px; background-position: -539px -1433px}
.Malaysia_s_Ringgit {width:92px; height:90px; background-position: -1350px -755px}
.Maldives_s_rufiyaa {width:94px; height:93px; background-position: -323px -1217px}
.Mali_s_CFAfranc {width:93px; height:92px; background-position: -448px -1339px}
.Malta_s_Euro {width:93px; height:92px; background-position: -515px -1054px}
.Marshall_Islands_s_Dollar {width:92px; height:93px; background-position: -258px -1695px}
.Mauritania_s_Ouguiya {width:91px; height:91px; background-position: -983px -1132px}
.Mauritius_s_Rupee {width:94px; height:94px; background-position: -322px -866px}
.Mexico_s_Peso {width:92px; height:93px; background-position: -258px -1600px}
.Micronesia_s_Dollar {width:92px; height:92px; background-position: -911px -1715px}
.Moldova_s_Leu {width:91px; height:92px; background-position: -610px -1043px}
.Monaco_s_Euro {width:93px; height:91px; background-position: -948px -383px}
.Mongolia_s_Tughrik {width:90px; height:91px; background-position: -1325px -476px}
.Montenegro {width:157px; height:99px; background-position: -2px -624px}
.Montenegro_s_Euro {width:94px; height:91px; background-position: -947px -571px}
.Mordvia {width:160px; height:94px; background-position: -1781px -194px}
.Morocco_s_Dirham {width:92px; height:93px; background-position: -258px -1505px}
.Mozambique_s_Metical {width:90px; height:92px; background-position: -796px -1042px}
.Nagorno_Karabakh_Republic {width:160px; height:94px; background-position: -2px -1122px}
.Namibia_s_Dollar {width:93px; height:92px; background-position: -514px -1151px}
.Nauru_s_AUD {width:90px; height:91px; background-position: -1326px -290px}
.Nepal_s_Rupee {width:92px; height:93px; background-position: -482px -481px}
.Netherlands_s_Antilles_Guilder {width:92px; height:92px; background-position: -903px -1809px}
.Newzealand_s_Dollar {width:93px; height:92px; background-position: -448px -1245px}
.Nicaragua_s_Cordoba {width:91px; height:91px; background-position: -917px -1226px}
.Niger_s_CFAfranc {width:92px; height:94px; background-position: -163px -1794px}
.Nigeria_s_Naira {width:92px; height:92px; background-position: -809px -1903px}
.North_Ossetia {width:159px; height:94px; background-position: -2px -1314px}
.Norway_s_Krone {width:92px; height:91px; background-position: -1137px -383px}
.Oman_s_Rial {width:91px; height:92px; background-position: -608px -949px}
.Pakistan_s_Rupee {width:91px; height:94px; background-position: -257px -1794px}
.Palau_s_US_Dollar {width:91px; height:91px; background-position: -1074px -943px}
.Panama_s_Balboa {width:92px; height:92px; background-position: -822px -1524px}
.Papua_New_Guinea_s_Kina {width:91px; height:91px; background-position: -1232px -476px}
.Paraguay_s_Guarani {width:95px; height:93px; background-position: -258px -1410px}
.Peru_s_Nuevo_Sol {width:93px; height:93px; background-position: -481px -673px}
.Philippines_s_Peso {width:89px; height:91px; background-position: -1169px -1036px}
.Poland_s_Zloty {width:91px; height:93px; background-position: -531px -1885px}
.Portugal_s_Euro {width:93px; height:93px; background-position: -481px -578px}
.Qatar_s_riyal {width:90px; height:90px; background-position: -1510px -475px}
.Republic_of_the_Congo_s_CFAfranc {width:92px; height:92px; background-position: -820px -1621px}
.Republika_Srpska {width:159px; height:94px; background-position: -2px -1410px}
.Romania_New_s_Leu {width:91px; height:92px; background-position: -608px -855px}
.Russia_s_Ruble {width:94px; height:93px; background-position: -259px -1314px}
.Rwanda_s_Franc {width:92px; height:92px; background-position: -817px -1715px}
.Saba {width:159px; height:94px; background-position: -2px -1506px}
.Saint_Barthelemy {width:158px; height:94px; background-position: -322px -482px}
.Saint_Helena_s_Pound {width:92px; height:92px; background-position: -809px -1809px}
.Saint_Kitts_and_Nevis_s_dollar {width:92px; height:91px; background-position: -1044px -476px}
.Saint_Lucia_s_dollar {width:92px; height:91px; background-position: -1043px -571px}
.Saint_Martin {width:160px; height:94px; background-position: -95px -1025px}
.Saint_Vincent_and_the_Grenadines_s_dollar {width:91px; height:93px; background-position: -445px -1695px}
.Sakha_Republic {width:159px; height:94px; background-position: -2px -1602px}
.Samoa_s_tala {width:91px; height:90px; background-position: -1354px -847px}
.San_Marino_s_Euro {width:96px; height:94px; background-position: -1949px -98px}
.Sao_Tome_and_Principe_s_dobra {width:93px; height:92px; background-position: -513px -862px}
.Sark {width:158px; height:94px; background-position: -323px -290px}
.Saudi_Arabia_s_Riyal {width:91px; height:91px; background-position: -1231px -569px}
.Scotland {width:157px; height:94px; background-position: -322px -674px}
.Sealand_Principality {width:161px; height:94px; background-position: -650px -98px}
.Senegal_s_CFAfranc {width:92px; height:91px; background-position: -1036px -664px}
.Serbia {width:157px; height:98px; background-position: -2px -826px}
.Serbia_s_Dinar {width:92px; height:92px; background-position: -729px -1430px}
.Seychelles_s_Rupee {width:91px; height:90px; background-position: -1417px -475px}
.Sierra_Leone_s_Leone {width:92px; height:93px; background-position: -483px -290px}
.Sikkim {width:159px; height:94px; background-position: -2px -1698px}
.Singapore_s_Dollar {width:92px; height:91px; background-position: -886px -947px}
.Slovakia_s_Euro {width:92px; height:92px; background-position: -638px -1336px}
.Slovenia_s_Euro {width:92px; height:91px; background-position: -977px -760px}
.Solomon_Islands_s_Dollar {width:92px; height:91px; background-position: -886px -854px}
.Somalia_s_Shilling {width:91px; height:91px; background-position: -1224px -662px}
.Somaliland {width:159px; height:94px; background-position: -2px -1794px}
.South_Africa_s_Rand {width:91px; height:93px; background-position: -444px -1790px}
.South_Ossetia {width:159px; height:94px; background-position: -2px -1890px}
.South_Sudan {width:157px; height:99px; background-position: -2px -725px}
.South_Sudan_s_SSPound {width:92px; height:92px; background-position: -638px -1242px}
.Sovereign_Military_Order_of_Malta {width:161px; height:94px; background-position: -813px -98px}
.Spain_s_Euro {width:93px; height:91px; background-position: -948px -290px}
.Sudan_s_Pound {width:91px; height:91px; background-position: -1165px -757px}
.Suriname_s_Dollar {width:90px; height:91px; background-position: -1325px -383px}
.Swaziland_s_SARand {width:89px; height:91px; background-position: -1103px -1315px}
.Sweden_s_Krona {width:90px; height:91px; background-position: -1324px -569px}
.Switzerland_s_Franc {width:90px; height:92px; background-position: -794px -948px}
.Syria_s_Pound {width:93px; height:93px; background-position: -418px -865px}
.Taiwan_s_New_Dollar {width:92px; height:92px; background-position: -728px -1527px}
.Tajikistan_s_Somoni {width:91px; height:91px; background-position: -1074px -850px}
.Tanzania_s_Shilling {width:91px; height:93px; background-position: -352px -1695px}
.Tatarstan {width:160px; height:94px; background-position: -161px -290px}
.Thailand_s_Baht {width:94px; height:94px; background-position: -322px -770px}
.Tierra_del_Fuego_Province_Argentina {width:161px; height:94px; background-position: -976px -98px}
.Togo_s_CFAfranc {width:89px; height:94px; background-position: -257px -1890px}
.Tonga_s_Pa'anga {width:90px; height:91px; background-position: -1317px -662px}
.Transnistria {width:160px; height:94px; background-position: -161px -386px}
.Trinidad_and_Tobago_s_Dollar {width:93px; height:93px; background-position: -418px -770px}
.Tristan_da_Cunha {width:160px; height:94px; background-position: -1139px -98px}
.Tunisia_s_Dinar {width:92px; height:92px; background-position: -726px -1621px}
.Turkey_s_Lira {width:90px; height:91px; background-position: -1258px -755px}
.Turkish_Republic_of_Northern_Cyprus {width:160px; height:94px; background-position: -1301px -98px}
.Turkmenistan_s_Manat {width:93px; height:92px; background-position: -513px -768px}
.Tuva {width:160px; height:94px; background-position: -1463px -98px}
.Tuvalu_s_Dollar {width:90px; height:92px; background-position: -794px -854px}
.UAE_s_Dirham {width:89px; height:91px; background-position: -1103px -1222px}
.UK_s_Pound {width:91px; height:92px; background-position: -669px -667px}
.USA_s_Dollar {width:92px; height:92px; background-position: -634px -1527px}
.Udmurtia {width:161px; height:94px; background-position: -1016px -2px}
.Uganda_s_Shilling {width:92px; height:91px; background-position: -1043px -383px}
.Ukraine_s_Hryvna {width:93px; height:93px; background-position: -417px -962px}
.United-nations {width:167px; height:94px; background-position: -189px -2px}
.Uruguay_s_Peso {width:93px; height:93px; background-position: -324px -1058px}
.Uzbekistan_s_Som {width:90px; height:92px; background-position: -794px -760px}
.Vanuatu_s_Vatu {width:92px; height:93px; background-position: -482px -386px}
.Vatican_City_s_Euro {width:90px; height:92px; background-position: -763px -572px}
.Venezuela_s_Bolivar {width:92px; height:90px; background-position: -1260px -848px}
.Viet_Nam_s_Dong {width:91px; height:92px; background-position: -608px -761px}
.Wales {width:159px; height:94px; background-position: -161px -482px}
.Yemen_s_Rial {width:90px; height:92px; background-position: -763px -478px}
.Zambia_s_Kwacha {width:93px; height:92px; background-position: -419px -1151px}
.Zhayier {width:157px; height:105px; background-position: -2px -206px}
.Zimbabwe_s_Dollar {width:93px; height:94px; background-position: -163px -1410px}
.srilanka_s_Rupee {width:86px; height:87px; background-position: -1510px -567px}
